hr {
    margin: 0;
}
.rodape {
    padding: 1em;
    background-color: var(--branco);
    border-top: 1px solid var(--azul);
}

.rodape__texto {
    color: #000000;
    font-weight: 400;
}

.lista__rodape {
    display: none;
}

@media screen and (min-width:1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
        padding: 2em;
    }

    .lista__rodape {
        display: block;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .lista-rodape__link {
        text-decoration: none;
        color: var(--cinza);
        margin-left: 0.6em;
    }

    .lista-rodape__titulo {
        font-size: 0.87rem;
        color: var(--cinza-claro);
    }

    .rodape__texto {
        font-size: 1.5rem;
    }
}



    

    

    